<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Misha LeClair Personal API</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/styles.css">

    <!-- VENDOR SCRIPTS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="/scripts/app.js"></script>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-4 design-block">
          <!-- <img src="../images/designblocks.jpeg" alt="Design"> -->
        </div>
        <div class="col-sm-4 create-block">
          <!-- <img src="../images/createblocks.jpeg" alt="Create"> -->
        </div>
        <div class="col-sm-4 code-block">
          <!-- <img src="../images/codeblocks.jpeg" alt="Code"> -->
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h1>Misha LeClair's Personal API</h1>
          <h4><a href="/api">API Documentation</a></h4>
        </div>
      </div>
    </div>
    <div id="profile" class="profileInfo">
      <script id="profile-template" type="text/x-handlebars-template">
          <h2>{{name}}</h2>
          <img src="{{githubProfileImage}}>" alt="Misha LeClair" height="300" width="300">
          <a href="{{githubLink}}" target="_blank">GitHub</a>
          <a href="{{personalSiteLink}}" target="_blank">Portfolio</a>
          <p>City: {{currentCity}}</p>
          <p>Pets: {{pets}}</p>
      </script>
    </div>
    <h4><a href="/api/profile">API</a></h4>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h1>Past Professions</h1>
          <form class="form-inline" id="newCareer">
            <div class="form-group">
              <label for="newJobTitle">Job Title</label>
              <input type="text" class="form-control" name="jobTitle" placeholder="Job Title">
            </div>
            <div class="form-group">
              <label for="newCompany">Company</label>
              <input type="text" class="form-control" name="company" placeholder="Company">
            </div>
            <div class="row">
            <div class="col-lg-8">
            <div class="form-group">
              <label for="newAccomplishment">Accomplishments</label>
              <input type="text" class="form-control" name="accomplishment" placeholder="Accomplishments">
            </div>
            </div>
            </div>
            <div class="row">
            <div class="col-md-8">
            <button type="submit" class="saveBtn btn btn-default">Save</button>
            </div>
            </div>
          </form>
          <div id="career-list" class="careerList">
            <script id="career-template" type="text/x-handlebars-template">
              {{#each careers}}
                <div id="career{{_id}}">
                  <div class="jobTitle">
                    <h2>{{jobTitle}}</h2>
                  </div>
                  <div class="company">
                    <p>{{company}}</p>
                  </div>
                  <div class="accomplishment">
                    <p>{{accomplishment}}</p>
                  </div>
                  <button type="button" name="button" class="editBtn btn btn-default" data-id={{_id}}>Edit</button>
                  <button type="button" name="button" class="deleteBtn btn btn-default" data-id={{_id}}>Delete</button>
                  <form class="form-inline form-edit-career" id="careerForm{{_id}}" data-id={{_id}}>
                    <div class="form-group">
                      <label for="editJobTitle">Job Title</label>
                      <input type="text" class="form-control" name="jobTitle" value="{{jobTitle}}">
                    </div>
                    <div class="form-group">
                      <label for="editCompany">Company</label>
                      <input type="text" class="form-control" name="company" value="{{company}}">
                    </div>
                    <div class="row">
                    <div class="col-lg-8">
                    <div class="form-group">
                      <label for="editAccomplishment">Accomplishments</label>
                      <input type="text" class="form-control" name="accomplishment" value="{{accomplishment}}">
                    </div>
                    </div>
                    </div>
                    <button type="submit" class="saveBtn btn btn-default">Save</button>
                  </form>
                </div>
              {{/each}}
            </script>
          </div>
        </div>
      </div>
    </div>
    <h4><a href="/api/careers">API</a></h4>
  </body>
</html>
