<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Misha LeClair Personal API</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/styles.css">

    <!-- VENDOR SCRIPTS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="/scripts/app.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h1>Misha LeClair's Personal API</h1>
          <h4><a href="/api">Read My API Documentation</a></h4>
        </div>
      </div>
    </div>
    <div id="profile" class="profileInfo">
      <script id="profile-template" type="text/x-handlebars-template">
          <h2>{{name}}</h2>
          <img src="{{githubProfileImage}}>" alt="Misha LeClair" height="300" width="300">
          <a href="{{githubLink}}" target="_blank">GitHub</a>
          <a href="{{personalSiteLink}}" target="_blank">Portfolio</a>
          <p>City: {{currentCity}}</p>
          <p>Pets: {{pets}}</p>
      </script>
    </div>
    <h4><a href="/api/profile">API</a></h4>
    <div class = container>
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h1>Past Professions</h1>
          <form class="form-inline">
            <div class="form-group">
              <label for="newJobTitle">Job Title</label>
              <input type="text" class="form-control" id="newJobTitle" placeholder="Job Title">
            </div>
            <div class="form-group">
              <label for="newCompany">Company</label>
              <input type="text" class="form-control" id="newCompany" placeholder="Company">
            </div>
            <button type="submit" class="btn btn-default">Save</button>
            <div class="form-group">
              <label for="newAccomplishment">Accomplishments</labl>
              <input type="text" class="form-control" id="newAccomplishment" placeholder="Accomplishments">
            </div>
          </form>
          <div id="career-list" class="careerList">
            <script id="career-template" type="text/x-handlebars-template">
              {{#each careers}}
                <div class="jobTitle">
                  <h2>{{jobTitle}}</h2>
                <div class="company">
                  <p>{{{company}}}</p>
                <div class="accomplishment">
                  <p>{{accomplishment}}</p>
                </div>
                </div>
                </div>
              {{/each}}
            </script>
          </div>
        </div>
      </div>
    </div>
    <h4><a href="/api/careers">API</a></h4>
  </body>
</html>
