.design-block {
  background-size: 100%;
  background-size: cover;
  background-position: center center;
  vertical-align: top;
  height: 270px;
  background-image: url("../images/designblocks.jpeg");
}
.create-block {
  background-size: 100%;
  background-size: cover;
  background-position: center center;
  vertical-align: top;
  height: 270px;
  background-image: url("../images/createblocks.jpeg");
}
.code-block {
  background-size: 100%;
  background-size: cover;
  background-position: center center;
  vertical-align: top;
  height: 270px;
  background-image: url("../images/codeblocks.jpeg");
}
body {
  background-color: #efdac9;
  font-family: Helvetica, Arial, sans-serif;
}
h1 {
  margin-top: 100px;
  text-align: center;
}
h2 {

}
h1, h2 {
  color: #775d6a;
}
h4 {
  text-align: center;
}
.saveBtn {
  background-color: #8eb9a8;
  color: #ffffff;
}
.editBtn {
  background-color: #fefbd0;
  color: #efdac9;
  font-weight: bold;
}
.deleteBtn {
  background-color: #e3b8b2;
  color: #ffffff;
}
.form-edit-career {
  display: none;
}
