.design-block {
  background-size: 100%;
  background-size: cover;
  background-position: center center;
  vertical-align: top;
  height: 270px;
  background-image: url("../images/designblocks.jpeg");
}
.create-block {
  background-size: 100%;
  background-size: cover;
  background-position: center center;
  vertical-align: top;
  height: 270px;
  background-image: url("../images/createblocks.jpeg");
}
.code-block {
  background-size: 100%;
  background-size: cover;
  background-position: center center;
  vertical-align: top;
  height: 270px;
  background-image: url("../images/codeblocks.jpeg");
}
body {
  background-color: #efdac9;
  font-family: Helvetica, Arial, sans-serif;
}
h1 {
  margin-top: 20px;
  text-align: center;
  font-size: 6em;
  text-shadow: 3px 3px #ffffff;
}
p {
  float: right;
}
#github-link, #personal-link {
  display: inline;
  float: right;
}
a {
  color: #8eb9a8;
  font-size: 1.5em;
}
a:hover {
    color: #8eb9a8;
    text-decoration: underline;
}
h1, h2, h4 {
  color: #775d6a;
}
h3 {
  background-color: #fefbd0;
  text-align: center;
  font-size: 3em;
}
h4 {
  text-align: center;
}
.saveBtn {
  background-color: #8eb9a8;
  color: #ffffff;
}
.saveBtn:hover {
  background-color: #ffffff;
  color: #8eb9a8;
}
.editBtn {
  background-color: #fefbd0;
  color: #efdac9;
  font-weight: bold;
}
.editBtn:hover {
  background-color: #ffffff;
  color: #775d6a;
}
.deleteBtn {
  background-color: #e3b8b2;
  color: #ffffff;
}
.deleteBtn:hover {
  background-color: #ffffff;
  color: #e3b8b2
}
.form-edit-career {
  display: none;
}
